.corner_button {
    height: min-content;
    width: min-content;
    background: none;
    border: none;
    position: absolute;
    bottom: 7px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, transform 50ms linear;

    img {
        width: 65px;
        height: 65px;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.95);
    }
}

.corner_button-right {
    right: 7px;
    transform-origin: bottom right;
}

.corner_button-left {
    left: 7px;
    transform-origin: bottom left;
}