.flip_animation {
    perspective: 800px;
}

.flip-page {
    position: fixed;
    z-index: 0;
    width: 40vw;
    height: 90vh;
    background:
        linear-gradient(to bottom right, #e4d08525 0%, #44444400 50%),
        linear-gradient(to right, #000000ad 0%, #0000003d 3%, #44444400 7%),
        url('/src/assets/misc/oldpage4.png') no-repeat center;
    background-size: 100% 100%;
    transition: transform 0.8s ease-in-out, z-index 0.8s;
    transform-origin: left;
}

.flip-to-result {
    transform: rotateY(-185deg);
}

.flip_page-2 {
    transition-delay: 0.2s;
}

.flip_page-3 {
    transition-delay: 0.4s;
}

.flip-change_index-2 {
    z-index: 1;
}

.flip-change_index-3 {
    z-index: 2;
}