@use '../../index';

.error_message-container {
    position: fixed;
    top: 35vh;
    left: 10vw;
    z-index: 3;
    margin: auto;
    width: 80vw;
    border: 3px solid rgb(220, 40, 40);
    border-radius: 10px;
    background-color: rgba(61, 20, 20, 0.778);
}

.error_message-text {
    font-size: 2rem;
    font-family: index.$mainHeaderFont;
    color: rgb(242, 78, 78);
    text-align: center;
}