#physiology-page_container {
    flex-direction: column;
    align-items: center;
}

.physiology-leaf_title {
    position: absolute;
    top: 1rem;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'IM Fell Double Pica', serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2.5rem;
}

.physiology-containers {
    margin-top: 4rem;
}

.physiology-weakness_container,
.physiology-resistance_container {
    width: 17rem;
    height: 16rem;
    background: #3d1d082b;
    box-shadow: 0 0 5px 5px #3d1d082b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.physiology-resistance_container {
    margin-top: 2rem;
}

.physiology-container_heading {
    font-family: 'Junge', serif;
    font-size: 1.7rem;
    margin: 0;
    margin-top: 10px;
}

.physiology-weakness-list_container,
.physiology-resistance-list_container {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    list-style: none;

    li {
        font-family: 'Kite One', sans-serif;
        margin: 5px 0 5px 10px;
    }
}

.physiology-list_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.physiology-list_item-icon {
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1800px) {
    .physiology-leaf_title {
        font-size: 4rem;
        line-height: 4rem;
        margin-top: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .physiology-leaf_title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .physiology-leaf_title {
        top: 0;
    }
}