@use '../../index';

.content-container {
    position: relative;
    min-height: 100vh;
    transition: 0.5s opacity ease-out;
}

.main_header-container {
    padding-top: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s opacity ease-in-out, 0.4s display linear;
}

.main_header-title {
    margin: 0;
    font-size: 3rem;
    font-family: index.$mainHeaderFont;
    text-transform: uppercase;
}

.main_header-title_sub {
    font-size: 4rem;
}

.main_header-flare {
    position: absolute;
    width: 80%;
    height: 2rem;
    margin-bottom: 20px;
}

.hero-caption {
    text-align: center;
    font-family: index.$sectionSubheadingFont;
    width: 60vw;
    margin: 2rem 0 0 20vw;
}

@media screen and (max-width: 600px) {
    .main_header-container {
        margin-top: 4rem;
    }

    .main_header-title {
        font-size: 2rem;
    }

    .main_header-title_sub {
        font-size: 3rem;
    }

    .hero-caption {
        width: 80vw;
        margin: auto;
    }
}

@media screen and (max-height: 700px) {
    .main_header-container {
        margin: 2.5rem 0;
    }
}