#information-container {
    background: #322423;
    position: relative;
    width: 100%;
    top: 0;
    margin-top: 5rem;
}

.footer-title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto 5rem;
    text-align: center;
}

.footer_title {
    font-size: 2.3rem;
    font-family: 'Linden Hill', serif;
    margin: 2rem 0 1rem 0;
}

.footer_navigation-link {
    text-decoration: none;
    margin: auto 3rem;
    font-size: 1.5rem;
    font-family: 'Nanum Myengjo', serif;
}

.footer-disclaimer_and_copyright {
    text-align: center;
    font-size: 0.7rem;
    font-family: 'Nanum Myengjo', serif;
}

.footer_disclaimer {
    margin: 0;
    width: 70vw;
    margin-left: 15vw;
}

.footer_copyright {
    margin: 0;
    padding: 1rem;
}

@media screen and (min-width: 951px) {
    .footer_title__navigation {
        justify-content: center;
        text-align: center;
    }

    .footer_title {
        margin-bottom: 0;
        font-size: 2.7rem;
    }

    .footer_disclaimer,
    .footer_copyright {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 600px) {
    .footer_title {
        font-size: 1.8rem;
    }

    .footer_navigation-link {
        font-size: 1.2rem;
        margin: auto 2rem;
    }
}