.book-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

#background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -3;
    width: 100vw;
    height: 100vh;
    background:
        linear-gradient(to bottom right, #fed2a061 0%, #3d20084f 60%),
        url('/src/assets/misc/wood-bg-min.jpg') no-repeat center;
    background-size: cover;
    filter: blur(2px);
}

.book-leather_cover {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: 2rem;
    width: 40vw;
    height: 90vh;
    background:
        linear-gradient(to bottom right, #e4d08525 0%, #44444400 50%),
        url('/src/assets/misc/leather-cover2.jpeg') no-repeat center;
    background-size: 100% 100%;
    text-align: center;
    box-shadow: 10px 5px 10px 5px #00000082;
    transition: transform 1.2s ease-in-out, z-index 2.8s;
    transform-origin: left;
}

.book-leather_cover-back {
    position: fixed;
    z-index: 0;
    width: 40vw;
    height: 90vh;
    background:
        linear-gradient(to bottom right, #e4d08525 0%, #44444400 50%),
        url('/src/assets/misc/leather-cover2_back.png') no-repeat center;
    background-size: 100% 100%;
    // box-shadow: 10px 5px 10px 5px #00000082;
    transition: transform 1.2s ease-in-out;
    transform-origin: left;
}

.cover-header_title {
    width: 60%;
    margin: auto;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-image: linear-gradient(to bottom left,
            #462523 0,
            #cb9b51 13%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 87%,
            #462523 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-filter: drop-shadow(2px 2px #000000);
    filter: drop-shadow(2px 2px #000000);
}

.cover-header_title-subheader {
    letter-spacing: 0;
    font-size: 1.4rem;
}

.cover-header_flare {
    position: absolute;
    z-index: 0;
    opacity: 0.75;
    width: 80vw;
    height: 80px;
    left: 10vw;
}

.cover-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;

    p {
        font-family: 'Kotta One', cursive;
        font-size: 1.2rem;
        background-image: linear-gradient(to bottom left,
                #462523 0,
                #cb9b51 13%,
                #f6e27a 45%,
                #f6f2c0 50%,
                #f6e27a 55%,
                #cb9b51 87%,
                #462523 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-filter: drop-shadow(1px 1px #000000);
        filter: drop-shadow(1px 1px #000000);
    }
}

.navigation-button {
    appearance: none;
    background-image: radial-gradient(100% 100% at 0 0, #bf6e50 0, #5d290f 100%);
    border: 0;
    border-radius: 3px;
    box-shadow: #3a150566 0 2px 4px, #1405014d 0 7px 13px -3px, #1b0d0180 0 -3px 0 inset;
    box-sizing: border-box;
    color: #f6e27a;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1rem;
    height: 3rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 0 1.5rem;
    position: relative;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;

    &:hover {
        background-image: radial-gradient(100% 100% at 10% 10%, #bf6e50 0, #5d290f 100%);
    }

    &:active {
        background-image: radial-gradient(100% 100% at -5% -5%, #bf6e50 0, #5d290f 100%);
        box-shadow: #2b1206 0 3px 7px inset;
    }
}


@media screen and (min-width: 1800px) {
    .cover-header_title {
        font-size: 3.5rem;
    }

    .cover-header_title-subheader {
        font-size: 2.3rem;
    }

    .cover-description p {
        font-size: 1.8rem;
    }

    .navigation-button {
        width: 12rem;
        height: 4rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1000px) {

    .book-leather_cover,
    .book-leather_cover-back {
        width: 60vw;
        margin: auto;
    }
}

@media screen and (max-width: 650px) {

    .book-leather_cover,
    .book-leather_cover-back {
        width: 90vw;
        height: 75vh;
        margin: auto;
        gap: 5px
    }
}