#navbar-container {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 108px;
  background: #322423;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
#navbar-container * {
  margin: 7px 10px;
}

.navbar_query-arrows,
.navbar_links,
.navbar_main-title,
.navbar_mobile-menu {
  align-self: center;
}

.navbar_query-arrows button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
.navbar_query-arrows :first-child {
  margin-right: 5px;
}
.navbar_query-arrows :last-child {
  margin-left: 5px;
}
.navbar_query-arrows img {
  margin: 0;
}

.navbar_title {
  justify-self: center;
  align-self: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif;
}

.menu-appear {
  opacity: 1;
  transition: opacity 0.3s;
}

.menu-disappear {
  opacity: 0;
  transition: opacity 0.3s;
}

.navbar_sliding-menu {
  width: 40vw;
  height: calc(100vh - 108px);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 108px;
  right: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(204, 150, 119, 0.9) 0%, rgba(107, 101, 98, 0.9) 100%);
  font-size: 3rem;
  font-family: "Kotta One", serif;
}
.navbar_sliding-menu a {
  margin: 2rem;
  color: #fff;
  text-decoration: none;
}

.navbar_links {
  justify-self: end;
  font-size: 1.5rem;
  font-family: "Nanum Myeongjo", serif;
}
.navbar_links a {
  margin: auto 10px;
  color: #fff;
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #70bc66;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #70bc66;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar_hamburger-icon {
  justify-self: end;
  align-self: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.navbar_hamburger-icon img {
  margin: auto;
  width: 4.5rem;
}

@media screen and (max-width: 1149px) {
  .navbar_links {
    display: none;
  }
}
@media screen and (min-width: 1150px) {
  .navbar_hamburger-icon {
    display: none;
  }
  .navbar_sliding-menu {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .navbar_title {
    font-size: 1rem;
    line-height: 30px;
  }
}
@media screen and (min-width: 640px) {
  .navbar_title-short {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .navbar_query-arrows button {
    margin: 0;
  }
  .navbar_query-arrows img {
    width: 40px;
    height: 40px;
  }
  .navbar_title-long {
    display: none;
  }
  .navbar_title-short {
    display: inline;
  }
  .navbar_hamburger-icon img {
    width: 3rem;
  }
  .navbar_sliding-menu {
    font-size: 2rem;
    width: 100vw;
  }
  .navbar_sliding-menu a {
    margin: 3rem auto;
  }
}/*# sourceMappingURL=NavBar.css.map */