#component_result-container {
    background-color: #CCB09CCC;
    box-shadow: 0px 0px 15px 20px #CCB09CCC;
    margin: 2.5rem;
    margin-top: 12rem;
    padding: 1px;
    color: black;

    section {
        margin: 3rem auto 8rem;
    }
}

.result_section-heading_container {
    position: relative;
    width: min-content;
    margin: auto;
}

.result_section-heading {
    padding: 0 2rem;
    background-color: #FFFFFF52;
    font-family: 'Junge', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 3px 2px #777777;
    letter-spacing: 3px;
    border: 1px solid black;
}

.decorative-corner {
    position: absolute;
    width: 30px;
}

.decorative-corner-header {
    position: absolute;
    width: 40px;
}

.decorative-corner_bottom {
    top: 20px;
    left: calc(100% - 30px);
}

.decorative-corner_bottom-header {
    top: 34px;
    left: calc(100% - 40px);
}

.section_subheading {
    font-size: 2rem;
}

.result_section-image__description {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
        font-family: 'Kite One', sans-serif;
        letter-spacing: 2px;
    }
}

.result_section-monster_image-container {
    box-shadow: 0px 0px 10px 1px #000;
    position: relative;
    width: 365px;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #7D6049BF 0%, #5D7043BF 100%);
}

.result_section-image_border {
    width: 400px;
    position: absolute;
}

.result_section-monster_image {
    width: 280px;
    filter: drop-shadow(13px 10px 2px #222);
    -webkit-filter: drop-shadow(13px 10px 2px #00000059);
}

.result_section-monster_description {
    width: 400px;
    height: 400px;
    background-color: #9165444D;
    border: 1px solid black;

    p {
        margin: 1.5rem;
    }

}

.monster-main_description {
    font-size: 1.2rem;
}

.monster_attribute {
    height: 30px;
    margin: 1rem;
    display: flex;
    align-items: center;

    h4 {
        font-family: 'Libre Caslon Text', serif;
        text-transform: uppercase;
    }

    p {
        margin-left: 10px;
    }
}

.result_section-ailments {
    width: 70vw;
}

.result_section-ailment {
    padding: 1rem;
    border: 1px solid black;
    background: #9165444D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.result_section-ailment_name__icon {
    display: flex;
    align-items: center;
}

.result_section-ailment_name {
    font-family: 'Libre Caslon Text', serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 3px;
}

.result_section-ailment_icon {
    width: 70px;
}

.result_section-ailment_description {
    width: 50%;
    font-family: 'Kite One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.result_section-resistances__weaknesses {
    display: flex;
    justify-content: space-evenly;
}

.section_subheading-resistance,
.section_subheading-weakness {
    width: 350px;
}

.result_section-resistances__weaknesses {
    .result_section-heading {
        margin-bottom: 0;
    }
}

.result_section-resistances,
.result_section-weaknesses {
    ul {
        width: 350px;
        height: 280px;
        margin-top: 0;
        padding: 0;
        background: #9165444D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    li {
        font-size: 1.8rem;
        font-family: 'Kite One', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        list-style-image: url('src/assets/icons/fire.png');
        list-style-position: inside;

        list-s &::marker {
            width: 5px;
        }
    }
}

@media screen and (max-width: 930px) {
    .decorative-corner_bottom {
        left: calc(100% - 30px);
        top: 16px;
    }

    .result_section-monster_image-container {
        width: 275px;
        height: 275px;
    }

    .result_section-image_border {
        width: 300px;
    }

    .result_section-monster_image {
        width: 200px;
        height: 200px;
    }

    .result_section-monster_description {
        width: 300px;
        height: 300px;
    }

    p.monster-main_description {
        font-size: 1rem;
        margin-top: -1rem;
    }

    .result_section-ailments {
        width: 80vw;
    }

    .section_subheading-resistance,
    .section_subheading-weakness {
        width: 300px;
    }

    .section_subheading {
        font-size: 1.8rem;
    }

    .result_section-resistances,
    .result_section-weaknesses {
        ul {
            width: 300px;
            height: 250px;
        }

        li {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 715px) {
    .result_section-image__description {
        flex-direction: column;
    }

    .result_section-monster_image-container {
        margin-bottom: 2rem;
    }

    .result_section-ailment_name {
        font-size: 1.2rem;
    }

    .result_section-ailment_description {
        font-size: 0.8rem;
    }

    .result_section-resistances__weaknesses {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .monster-name {
        font-size: 2rem;
    }

    .result_section-heading {
        padding: 0 2rem;
    }

    .section_subheading {
        font-size: 1.6rem;
    }

    .decorative-corner {
        width: 20px;
    }

    .decorative-corner-header {
        width: 30px;
    }

    .decorative-corner_bottom {
        left: calc(100% - 20px);
    }

    .decorative-corner_bottom-header {
        top: 20px;
        left: calc(100% - 30px);
    }

    .result_section-ailment {
        flex-direction: column;
    }

    .result_section-ailment_description {
        width: 90%;
    }
}