:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  margin: 0;
}

@keyframes buttonHover {
  from {
    background-color: #fff;
    color: #000;
  }
  to {
    background-color: rgb(76, 119, 33);
    color: #fff;
  }
}
.nav-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 160px;
  margin: 2rem;
  margin-left: calc(50% - 80px);
  background-image: radial-gradient(100% 100% at 0 0, #bf6e50 0, #5d290f 100%);
  border: 0;
  border-radius: 3px;
  box-shadow: rgba(58, 21, 5, 0.4) 0 2px 4px, rgba(20, 5, 1, 0.3019607843) 0 7px 13px -3px, rgba(27, 13, 1, 0.5019607843) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #f6e27a;
  cursor: pointer;
  display: inline-flex;
  font-family: "Junge", cursive;
  font-size: 1.2rem;
  font-weight: 600;
  height: 3rem;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0 1.5rem;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  z-index: 2;
}
.nav-button:hover {
  background-image: radial-gradient(100% 100% at 10% 10%, #bf6e50 0, #5d290f 100%);
}
.nav-button:active {
  background-image: radial-gradient(100% 100% at -5% -5%, #bf6e50 0, #5d290f 100%);
  box-shadow: #2b1206 0 3px 7px inset;
}

@keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-animation {
  align-self: center;
  width: 150px;
  height: 150px;
  position: absolute;
  border-right: 5px solid #6ce91e;
  border-radius: 100%;
  box-shadow: -5px 0px 8px -5px #6ce91e inset;
  animation: 2s loadingRing linear infinite;
}

.appear {
  opacity: 1;
}

.disappear {
  opacity: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dim {
  filter: brightness(0.75);
  transition: filter 0.3s ease-in-out;
}

@media screen and (min-height: 1050px) {
  .nav-button {
    width: 250px;
    height: 70px;
    font-size: 2rem;
    margin: 3rem;
    margin-left: calc(50% - 125px);
  }
}
/* BIOME THEMES */
.theme-ancient_forest-main_background {
  background-color: rgba(204, 176, 156, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(204, 176, 156, 0.8);
}

.theme-ancient_forest-section_background {
  background-color: rgba(182, 128, 87, 0.3019607843);
}

.theme-ancient_forest-image_background {
  background-image: linear-gradient(to bottom, rgba(125, 96, 73, 0.7490196078), rgba(93, 112, 67, 0.7490196078));
}

.theme-wildspire_waste-main_background {
  background-color: rgba(192, 150, 120, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(192, 150, 120, 0.8);
}

.theme-wildspire_waste-section_background {
  background-color: rgba(140, 75, 38, 0.3019607843);
}

.theme-wildspire_waste-image_background {
  background-image: linear-gradient(to bottom, rgba(88, 61, 47, 0.7490196078), rgba(200, 125, 81, 0.7490196078));
}

.theme-coral_highlands-main_background {
  background-color: rgba(167, 152, 169, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(167, 152, 169, 0.8);
}

.theme-coral_highlands-section_background {
  background-color: rgba(56, 89, 140, 0.3019607843);
}

.theme-coral_highlands-image_background {
  background-image: linear-gradient(to bottom, rgba(81, 51, 99, 0.7490196078), rgba(26, 91, 150, 0.7490196078));
}

.theme-elders_recess-main_background {
  background-color: rgba(191, 126, 111, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(191, 126, 111, 0.8);
}

.theme-elders_recess-section_background {
  background-color: rgba(157, 56, 43, 0.3019607843);
}

.theme-elders_recess-image_background {
  background-image: linear-gradient(to bottom, rgba(82, 24, 24, 0.7490196078), rgba(196, 90, 56, 0.7490196078));
}

.theme-caverns-main_background {
  background-color: rgba(191, 167, 106, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(191, 167, 106, 0.8);
}

.theme-caverns-section_background {
  background-color: rgba(127, 92, 24, 0.3019607843);
}

.theme-caverns-image_background {
  background-image: linear-gradient(to bottom, rgba(107, 64, 40, 0.7490196078), rgba(195, 157, 26, 0.7490196078));
}

.theme-confluence-main_background {
  background-color: rgba(141, 164, 186, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(141, 164, 186, 0.8);
}

.theme-confluence-section_background {
  background-color: rgba(23, 82, 107, 0.3019607843);
}

.theme-confluence-image_background {
  background-image: linear-gradient(to bottom, rgba(124, 91, 124, 0.7490196078), rgba(38, 60, 138, 0.7490196078));
}

.theme-great_ravine-main_background {
  background-color: rgba(165, 129, 131, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(165, 129, 131, 0.8);
}

.theme-great_ravine-section_background {
  background-color: rgba(206, 137, 156, 0.3019607843);
}

.theme-great_ravine-image_background {
  background-image: linear-gradient(to bottom, rgba(177, 141, 158, 0.7490196078), rgba(65, 50, 79, 0.7490196078));
}

.theme-guiding_lands-main_background {
  background-color: rgba(147, 173, 165, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(147, 173, 165, 0.8);
}

.theme-guiding_lands-section_background {
  background-color: rgba(47, 111, 88, 0.3019607843);
}

.theme-guiding_lands-image_background {
  background-image: linear-gradient(to bottom, rgba(88, 142, 103, 0.7490196078), rgba(73, 161, 156, 0.7490196078));
}

.theme-hoarfrost_reach-main_background {
  background-color: rgba(146, 182, 197, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(146, 182, 197, 0.8);
}

.theme-hoarfrost_reach-section_background {
  background-color: rgba(14, 94, 129, 0.3019607843);
}

.theme-hoarfrost_reach-image_background {
  background-image: linear-gradient(to bottom, rgba(62, 72, 127, 0.7490196078), rgba(85, 173, 192, 0.7490196078));
}

.theme-rotten_vale-main_background {
  background-color: rgba(191, 188, 161, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(191, 188, 161, 0.8);
}

.theme-rotten_vale-section_background {
  background-color: rgba(129, 103, 14, 0.3019607843);
}

.theme-rotten_vale-image_background {
  background-image: linear-gradient(to bottom, rgba(99, 83, 51, 0.7490196078), rgba(142, 135, 71, 0.7490196078));
}

.theme-secluded_valley-main_background {
  background-color: rgba(175, 146, 137, 0.8);
  box-shadow: 0px 0px 10px 20px rgba(175, 146, 137, 0.8);
}

.theme-secluded_valley-section_background {
  background-color: rgba(134, 60, 28, 0.3019607843);
}

.theme-secluded_valley-image_background {
  background-image: linear-gradient(to bottom, rgba(93, 49, 39, 0.7490196078), rgba(169, 126, 76, 0.7490196078));
}

/* MAIN STYLING */
#component_result-container {
  position: relative;
  padding: 1px;
  margin-top: 12rem;
  color: black;
  transition: 0.2s opacity ease-in-out, 1s background-color ease-in-out, 1s box-shadow ease-in-out, 1s background-image ease-in-out;
}
#component_result-container section {
  margin: 3rem auto 8rem;
}

.result_section-heading_container {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.result_section-heading {
  max-width: 80vw;
  margin: 2rem 0 0 0;
  padding: 0 2rem;
  background-color: rgba(255, 255, 255, 0.3215686275);
  font-family: "Junge", cursive;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 3px 2px #777777;
  letter-spacing: 3px;
  border: 1px solid black;
}

.decorative-corner {
  position: absolute;
  width: 30px;
}

.decorative-corner-header {
  position: absolute;
  width: 40px;
}

.decorative-corner_bottom {
  bottom: 0;
  left: calc(100% - 30px);
}

.decorative-corner_bottom-header {
  bottom: 0;
  left: calc(100% - 40px);
}

.section_subheading {
  font-size: 2rem;
}

.result_section-image_and_description-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.result_section-monster_image-container {
  box-shadow: 0px 0px 10px 1px #000;
  position: relative;
  width: 365px;
  height: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result_section-image_border {
  width: 400px;
  position: absolute;
  z-index: 1;
}

.result_section-monster_image {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(13px 10px 2px #222);
  -webkit-filter: drop-shadow(13px 10px 2px rgba(0, 0, 0, 0.3490196078));
}

.result_section-monster_description-container {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  overflow: scroll;
}
.result_section-monster_description-container h4 {
  margin: 0;
}
.result_section-monster_description-container p {
  margin: 0;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  letter-spacing: 2px;
}

p.monster-main_description {
  margin: 1.5rem;
  font-size: 1.2rem;
}

.monster_attribute {
  height: 30px;
  margin: 1rem;
  display: flex;
  align-items: center;
}
.monster_attribute h4 {
  font-family: "Libre Caslon Text", serif;
  text-transform: uppercase;
}
.monster_attribute p {
  margin-left: 10px;
}

.result_section-ailments {
  width: 70vw;
}

.result_section-no_ailments {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.result_section-ailment {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.result_section-ailment_name {
  font-family: "Libre Caslon Text", serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.result_section-ailment_icon {
  width: 70px;
}

.result_section-ailment_description {
  width: 50%;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.result_section-resistances__weaknesses {
  display: flex;
  justify-content: space-evenly;
}

.section_subheading-resistance,
.section_subheading-weakness {
  width: 350px;
}

.result_section-resistances__weaknesses .result_section-heading {
  margin-bottom: 0;
}

.result_section-resistances ul,
.result_section-weaknesses ul {
  width: 350px;
  height: 280px;
  margin-top: 0;
  padding: 1rem 0;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.element_item-container {
  display: flex;
}

.element_icon {
  width: 30px;
  height: 30px;
  margin: 10px 5px 0 0;
}

.element-item {
  position: relative;
  margin: 10px 0;
  font-size: 1.2rem;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style: none;
}

.result_section-rewards ul {
  margin: 2rem 4rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.result_section-rewards ul :first-of-type::marker {
  content: "";
}
.result_section-rewards li {
  margin-left: 8px;
  font-size: 1.2rem;
  font-family: "Linden Hill", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style-position: inside;
}

@media screen and (max-width: 930px) {
  .decorative-corner_bottom {
    left: calc(100% - 30px);
  }
  .result_section-monster_image-container {
    width: 275px;
    height: 275px;
  }
  .result_section-image_border {
    width: 300px;
  }
  .result_section-monster_image {
    width: 200px;
    height: 200px;
  }
  .result_section-monster_description-container {
    width: 300px;
    height: 300px;
  }
  .result_section-monster_description-container h4 {
    font-size: 0.9rem;
  }
  .result_section-monster_description-container p {
    font-size: 0.9rem;
  }
  p.monster-main_description {
    margin: 1rem;
    margin-top: -1rem;
  }
  .result_section-ailments {
    width: 80vw;
  }
  .section_subheading-resistance,
  .section_subheading-weakness {
    width: 300px;
  }
  .section_subheading {
    font-size: 1.8rem;
  }
  .result_section-resistances ul,
  .result_section-weaknesses ul {
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 715px) {
  .result_section-image_and_description-container {
    flex-direction: column;
  }
  .result_section-monster_image-container {
    margin-bottom: 2rem;
  }
  .result_section-ailment_name {
    font-size: 1.2rem;
  }
  .result_section-ailment_description {
    font-size: 0.8rem;
  }
  .result_section-resistances__weaknesses {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .result_section-rewards li {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .result_section-rewards ul :first-of-type::marker {
    content: unset;
  }
}
@media screen and (max-width: 500px) {
  .monster-name {
    font-size: 2rem;
  }
  .result_section-heading {
    padding: 0 2rem;
  }
  .section_subheading {
    font-size: 1.6rem;
  }
  .decorative-corner {
    width: 20px;
  }
  .decorative-corner-header {
    width: 30px;
  }
  .decorative-corner_bottom {
    left: calc(100% - 20px);
  }
  .decorative-corner_bottom-header {
    left: calc(100% - 30px);
  }
  .result_section-ailment {
    flex-direction: column;
  }
  .result_section-ailment_description {
    width: 90%;
  }
  .result_section-rewards ul {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=Result.css.map */