#carousel-container {
    background: linear-gradient(to right, rgba(102, 102, 102, 0) 0%, rgba(20, 20, 20, 1) 40%, rgba(0, 0, 0, 1) 50%, rgba(4, 4, 4, 1) 60%, rgba(19, 19, 19, 0) 100%);
}

.carousel_slide {
    width: 65vw;
    height: min-content;
    margin-left: 17.5vw;
}

@media screen and (max-width: 600px) {
    .carousel_slide {
        width: 100vw;
        margin-left: 0;
    }
}