@use '../../index';

form {
    position: absolute;
    z-index: 2;
    top: 15rem;
    left: calc(25vw - 1.5rem);
    width: calc(60vw + 3rem);
    transition: opacity 0.5s ease-out, top 0.4s ease-out;
}

.search-container {
    display: flex;
    height: 3rem;
}

.search_label {
    font-family: index.$labelFont;
    font-size: 1.2rem;
}

#monster-search {
    width: calc(50vw - 1.5rem);
    height: 3rem;
    border: none;
    border-radius: 8px 0 0 0;
    background-color: #ededed;
    font-family: index.$inputAndRewardsFont;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #000000;
    padding: 0;
    padding-left: 1.5rem;
}

.search_submit {
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 0 0 8px 0;
    background-color: #DBA075;
    cursor: pointer;
    padding: 0;

    &:hover {
        background-color: #cb936b;
    }

    &:active {
        background-color: #bc8a65;
    }
}

.MuiAutocomplete-listbox {
    background-color: #f9f0e1;
}

.autocomplete-monster_icon {
    width: 30px;
    padding: 0;
    margin: 0 20px 6px 10px;
}

.raise_search {
    top: 2rem;
}