form {
    margin-top: 50%;
}

.search_input__icon {
    display: flex;
    height: 3rem;
}

.search_label {
    font-family: 'Kotta One', serif;
    font-size: 1.2rem;
}

#monster-search {
    border: none;
    background-color: #D9D9D9;
    font-family: 'Linden Hill', serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #000000;
    padding-left: 1.5rem;
    width: 16rem;
}

.search_submit {
    height: 3rem;
    width: 46px;
    border: none;
    background-color: #DBA075;
    cursor: pointer;
    padding: 0;

    &:hover {
        background-color: #cb936b;
    }

    &:active {
        background-color: #bc8a65;
    }
}