.book-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}

#background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, rgba(254, 210, 160, 0.3803921569) 0%, rgba(61, 32, 8, 0.3098039216) 60%), url("/src/assets/misc/wood-bg-min.jpg") no-repeat center;
  background-size: cover;
  filter: blur(2px);
}

.book-leather_cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 40vw;
  height: 90vh;
  background: linear-gradient(to bottom right, rgba(228, 208, 133, 0.1450980392) 0%, rgba(68, 68, 68, 0) 50%), url("/src/assets/misc/leather-cover2.jpeg") no-repeat center;
  background-size: 100% 100%;
  text-align: center;
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.5098039216);
  transition: transform 0.7s ease-in-out;
  transform-origin: left;
}

.flip-open {
  transform: rotateY(-135deg);
}

.cover-header_title {
  width: 60%;
  margin: auto;
  font-family: "Nanum Myeongjo", serif;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-image: linear-gradient(to bottom left, #462523 0, #cb9b51 13%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 87%, #462523 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(2px 2px #000000);
}

.cover-header_title-subheader {
  letter-spacing: 0;
  font-size: 1.4rem;
}

.cover-header_flare {
  position: absolute;
  z-index: 0;
  opacity: 0.75;
  width: 80vw;
  height: 80px;
  left: 10vw;
}

.cover-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
.cover-description p {
  font-family: "Kotta One", cursive;
  font-size: 1.2rem;
  background-image: linear-gradient(to bottom left, #462523 0, #cb9b51 13%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 87%, #462523 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(1px 1px #000000);
}

.navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  border: 2px solid black;
  width: 10rem;
  height: 3rem;
  font-size: 1.3rem;
  font-family: "Kotta One", serif;
  background: linear-gradient(to bottom, #9A6D4C 0%, #E9AF8E 100%);
  cursor: pointer;
}

@media screen and (min-width: 1800px) {
  .cover-header_title {
    font-size: 3.5rem;
  }
  .cover-header_title-subheader {
    font-size: 2.3rem;
  }
  .cover-description p {
    font-size: 1.8rem;
  }
  .navigation-button {
    width: 12rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .book-leather_cover {
    width: 60vw;
    margin: auto;
  }
}
@media screen and (max-width: 650px) {
  .book-leather_cover {
    width: 90vw;
    height: 75vh;
    margin: auto;
    gap: 5px;
  }
}/*# sourceMappingURL=Book.css.map */