:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  margin: 0;
}

@keyframes buttonHover {
  from {
    background-color: #fff;
    color: #000;
  }
  to {
    background-color: rgb(76, 119, 33);
    color: #fff;
  }
}
.nav-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 160px;
  margin: 2rem;
  margin-left: calc(50% - 80px);
  background-image: radial-gradient(100% 100% at 0 0, #bf6e50 0, #5d290f 100%);
  border: 0;
  border-radius: 3px;
  box-shadow: rgba(58, 21, 5, 0.4) 0 2px 4px, rgba(20, 5, 1, 0.3019607843) 0 7px 13px -3px, rgba(27, 13, 1, 0.5019607843) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #f6e27a;
  cursor: pointer;
  display: inline-flex;
  font-family: "Junge", cursive;
  font-size: 1.2rem;
  font-weight: 600;
  height: 3rem;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0 1.5rem;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  z-index: 2;
}
.nav-button:hover {
  background-image: radial-gradient(100% 100% at 10% 10%, #bf6e50 0, #5d290f 100%);
}
.nav-button:active {
  background-image: radial-gradient(100% 100% at -5% -5%, #bf6e50 0, #5d290f 100%);
  box-shadow: #2b1206 0 3px 7px inset;
}

@keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-animation {
  align-self: center;
  width: 150px;
  height: 150px;
  position: absolute;
  border-right: 5px solid #6ce91e;
  border-radius: 100%;
  box-shadow: -5px 0px 8px -5px #6ce91e inset;
  animation: 2s loadingRing linear infinite;
}

.appear {
  opacity: 1;
}

.disappear {
  opacity: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dim {
  filter: brightness(0.75);
  transition: filter 0.3s ease-in-out;
}

@media screen and (min-height: 1050px) {
  .nav-button {
    width: 250px;
    height: 70px;
    font-size: 2rem;
    margin: 3rem;
    margin-left: calc(50% - 125px);
  }
}
#app-container {
  height: 100vh;
}

.loading_screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(21, 27, 22, 0.3019607843) 0%, rgba(28, 31, 15, 0.3019607843) 100%);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.loading_screen-result {
  z-index: 1;
}

.loading_screen-animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.loading_screen-animation p {
  font-family: "Junge", cursive;
  font-size: 1.2rem;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  filter: blur(5px);
}

.info-button {
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: linear-gradient(to bottom right, #684c49, #402928);
  font-size: 2rem;
  font-family: "IM Fell Double Pica", serif;
  cursor: pointer;
  transition: font-size 0.2s;
}
.info-button:hover {
  font-size: 2.3rem;
}
.info-button:active {
  font-size: 1.8rem;
}

@media screen and (min-width: 1600px) {
  .background-image {
    filter: blur(10px);
  }
}
@media screen and (max-width: 600px) {
  .background-image {
    background-size: cover;
    background-position: 40%;
  }
  .loading_screen-animation {
    margin-top: 200px;
  }
}/*# sourceMappingURL=App.css.map */