@use 'index';

#app-container {
    height: 100vh;
}

.loading_screen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #151b164D 0%, #1c1f0f4D 100%);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.loading_screen-result {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    min-height: 100vh;
    background: linear-gradient(to bottom, #151b166f 0%, #1c1f0f6f 100%);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.loading_screen-animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    p {
        font-family: index.$sectionHeadingFont;
        font-size: 1.2rem;
    }
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    filter: blur(5px);
}

@media screen and (min-width: 1600px) {
    .background-image {
        filter: blur(10px);
    }
}

@media screen and (max-width: 600px) {
    .background-image {
        background-size: cover;
        background-position: 40%;
    }

    .loading_screen-animation {
        margin-top: 200px;
    }
}