:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    margin: 0;
}

@keyframes slideUp {
    0% {
        margin-top: 150%;
        transform: rotateZ(30deg);
    }

    20% {
        margin-top: 149%;
    }

    100% {
        margin-top: unset;
        transform: rotateZ(0deg);
    }
}

.slide-up {
    animation: 1.2s slideUp ease-out;
}

// @keyframes fadeIn {
//     from {
//         display: none;
//         opacity: 0;
//     }

//     to {
//         display: flex;
//         opacity: 1;
//     }
// }

// @keyframes fadeOut {
//     from {
//         opacity: 1;
//         display: flex;
//     }

//     to {
//         opacity: 0;
//         display: none;
//     }
// }

// .fade-appear {
//     animation: fadeIn 300ms;
//     display: flex;
// }

// .fade-disappear {
//     animation: fadeOut 300ms;
//     display: none;
// }