:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .main-header_title {
        font-size: 2.2rem;
        letter-spacing: 10px;
    }

    div .main-description {
        width: 100vw;

        p {
            font-size: 0.8rem;
            padding: 0 1.2rem;
        }
    }

    .navigation-button {
        margin-bottom: 8rem;
    }
}

@keyframes fadeIn {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: flex;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        display: flex;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.fade-appear {
    animation: fadeIn 300ms;
    display: flex;
}

.fade-disappear {
    animation: fadeOut 300ms;
    display: none;
}