$mainHeaderFont: 'IM Fell Double Pica', serif;
$sectionHeadingFont: 'Junge', cursive;
$paragraphFont: 'Kite One', sans-serif;
$descriptionFont: 'Kotta One', serif;
$sectionSubheadingFont: 'Libre Caslon Text', serif;
$inputAndRewardsFont: 'Linden Hill', serif;
$disclaimerFont: 'Nanum Myeongjo', serif;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    margin: 0;
}

@keyframes loadingRing {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-animation {
    align-self: center;
    width: 150px;
    height: 150px;
    position: absolute;
    border-right: 5px solid #6ce91e;
    border-radius: 50%;
    animation: 2s loadingRing linear infinite;
}

.fade-appear {
    opacity: 1;
    // display: block;
}

.fade-disappear {
    opacity: 0;
    // display: none;
}

.hidden {
    opacity: 0;
}